
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@600&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    font-size: 62.5%;
}

/* background */
.bg--verde_oscuro{
    background-color: #466e35;
}

.bg--verde_oscuro--trasparente{
    background-color: #466e35bf;
}

.bg--verde_claro{
    background-color: #d5e0ce;
}

.bg--gris{
    background-color: #eaeaea;
}

.bg--blanco{
    background-color: #fff;
}

/* textos */
.titulo--xl{
    font-weight: bold;
    font-size: 2.5rem;
    color:#fff;
    text-shadow: rgba(0, 0, 0, 0.344) 3px 2px 2px;
    border-top:2px solid #d5e0ce;
}

.titulo{
    color: #fff; 
    width: 100%;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.7rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.2rem;
}

p{
    font-size: 1.3rem;
}

a{
    color:#000;
    text-decoration: none;
}

a:hover{
    color:#000;
}

.texto--destacado{
    font-size: 3rem;
}

.texto--sm{
    font-size: 1.2rem;
}

.texto--md{
    font-size: 1.4rem;
}

/* divisores */
.divisor{
    border-top: 2px solid #466e35;
}

/* contenedores */
.contenedor--destacado{
    border-radius: 3.3rem;
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.801));
}

/* transformaciones */
.transformacion--escalar:hover{
    transform: scale(1.05);
    transition: all 0.8s;
}

.transformacion--sombra:hover{
    transition: all 0.5s;
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.801));
}

.transformacion--latido{
    animation: latido 5s infinite;
}

/* botones */
.btn, .busqueda__btn{
    /* font */
    font-size: 1.2rem;
    color: #fff;
    /* background */
    background-color: #466e35;
    /* box model */
    width: fit-content;
    height: fit-content;
    margin-bottom: 1rem;
    padding: 1vh 2vh;
    /* borde y sombra */
    border: 2px solid #466e35;
    box-shadow: rgba(0, 0, 0, 0.42) 6px 5px 14px -2px;
    border-radius: 1rem;
    /* animacion */
    transition : 1000ms;
    transform: translateY(0);
}

.btn:hover{
    /* font */
    color: #466e35;
    /* background */
    background-color: #d5e0ce;
    /* box model */
    padding: 1vh 4vh;
    /* borde */
    border: solid 2px #466e35;
    /* animacion */
    transition : 1000ms;
}

.busqueda__btn:hover{
    background-color: #fff;
    transition : 1000ms;
    color: #466e35;
}

/* imagenes */
.img--xs{
    width: 2rem;
    height: 2rem;
}

.img--sm{
    width: 5rem;
    height: 5rem;
}

.img--md{
    width: 10rem;
    height: 10rem;
}

.img--lg{
    width: 16rem;
    height: 16rem;
}

.img--xl{
    width: 20rem;
    height: 20rem;
}

.img--xxl{
    width: 25rem;
    height: 25rem;
}

/* navbar */
.navbar-brand{
    height: 8vh;
}
    .navbar-brand h2{
        font-weight: bold;
        color: #d5e0ce;
        margin: 0;
    }

    .navbar-brand img{
        height: inherit;
        padding: 1vh;
    }

#links-nav .nav-link, .dropdown-item{
    font-weight: bold;
    font-size: 1.5rem;
    color: #d5e0ce;
    align-items: center;

    /* Animacion subrrayado */
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    }

#links-nav .nav-link:hover, .dropdown-item:hover{
    color: #fff;

    /* Animacion subrrayado */
    background-size: 100% 2px;
}

.dropdown-item{
    color: #d5e0ce;
    font-size: 1.3rem;
}

.dropdown-item:hover{
    background-color: #466e35;
}

/* footer */
.pie__img{
    width: 2.5rem;
    border-radius: 100%;
    transition: all 0.5s;
}

.pie__link{
    font-size: 1.4rem;
    color: #d5e0ce;
}

.pie__link:hover{
    color: #fff;
}

.pie__titulo{
    font-weight: bold;
    color: #d5e0ce;
}

/******************* INDEX ******************/
/* header*/
.inicio__contenedor{
    position: relative;
}

.inicio__texto{
    color: #fff;
    height: 100%;
}

.inicio__contenedor{
    background-image: url("../img/fondo_perro_acompaniado.png");
    background-position: center;
    background-size: cover;
    height: 80vh;
}

/******************* NOSOTROS ******************/
/* galeria */
.wrapper__img {
    position: relative;
}

.contenedor__img__descripcion {
    /* font */
    color: #fff;
    /* posicion */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box modelo */
    height: 16rem;
    width: 16rem;
    /* background y bordes */
    background-color: rgba(0, 0, 0, 0.441);
    border-radius: 3.3rem;
    /* animacion */
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s, visibility .8s;
}
  
.wrapper__img:hover .contenedor__img__descripcion, .wrapper__img:active .contenedor__img__descripcion {
    visibility: visible;
    opacity: 1;
}

.img__description{
    width: inherit;
}

.carousel-indicators{
    position: static;
}

.carousel .carousel-indicators button{ 
    background-color: #3a5b2c;
} 

/******************* ADOPTAR ******************/
/* requisitos */
.lista--tick{
    list-style: disc inside url('../img/tick.png');
}
    .lista--tick li{
        text-align: start;
        font-size: 1.2rem;
    }

.filtros{
    grid-area: filtros;
    border-bottom: 2px solid #466e35;
}

/* galeria */
.animales_en_adopcion__filtro{
    font-size: 1rem;
    width: 8rem;
}

.galeria_animales{
    grid-area: galeria_animales;
}

.animal{
    width: 18rem;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.648));
    transition: scale 1s;
}

.animal__detalles{
    width: 15rem;
}

.animal__img{
    border-radius: 10px;
    width: 15rem;
    height: 15rem;
}

.indice_caracteristicas{
    grid-area: indice_caracteristicas;
    border-top: 2px solid #466e35;
}

.contenedor__animales_en_adopcion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "filtros"
    "galeria_animales"
    "indice_caracteristicas";
}

/***********************************************/
    
/* ANIMACIONES */
@keyframes latido {
    0%, 50%, 100% { 
        transform: scale(1); 
    }
    30%, 80% { 
        transform: scale(1.1); 
    }
}
  

/* BREAKPOINTS */
@media screen and (min-width: 900px){
    .contenedor__animales_en_adopcion{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "filtros indice_caracteristicas"
        "galeria_animales indice_caracteristicas"
        "galeria_animales indice_caracteristicas";
    }

    .indice_caracteristicas{
        border-left: 2px solid #466e35;
        border-top: 0px;
    }
}

@media screen and (min-width: 1435px){
    #contacto, #nosotros, #participar{
       background-image: url("../img/fondo_patitas.svg");
        background-size: cover;
        background-attachment: fixed; 
    }
}