@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@600&display=swap');

//fontsize
$textoSm: 1.2rem;
$textoMd: 1.5rem;
$textoLg: 1.8rem;
$textoXl: 2.5rem;
$textoXxl: 3rem;

$fontsizesTags:(
    h1: $textoXxl,
    h2: $textoXl,
    h3: $textoLg,
    h4: $textoMd,
    h5: $textoSm,
    p: 1.3rem,
);

$fontsizesClases:(
    texto--sm: $textoSm,
    texto--md: $textoMd,
    texto--lg: $textoLg,
    texto--xl: $textoXl,
    texto--xxl: $textoXxl
);

//fontweight
$textoRegular: 400;
$textoBold: 600;

.titulo--xl{
    font-weight: $textoBold;
    background-color: $colorPrincipal;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.344) 3px 2px 2px; 
    border-top: 2px solid $colorTerciario;
    padding-top: 0.2em;
    margin: 0;
}

.titulo{ //titulo--md TODO
    color: #fff;
    width: 100%;
    background-color: $colorSecundario;
    padding-top: 5px;
}

.titulo--sm{
    color: $colorPrincipal;
    width: 100%;
    font-weight: $textoBold;
}

.texto--destacado{
    font-size: $textoXxl;
    font-weight: $textoBold; 
}

@each $tag, $fontsize in $fontsizesTags { 
    #{$tag} {
      font-size: $fontsize;
    }
}

@each $clase, $fontsize in $fontsizesClases {
    .#{$clase} {
        font-size: $fontsize;
    }
}

a{
    color:#000;
    text-decoration: none;
    &:hover{
        color:#000;
    }
}
