.pie{
    @extend .flex--center--col;
    @extend .bg--color_principal;
}

.pie__img{
    @extend .img--xs;
    border-radius: 100%;
    transition: all 0.5s;
}

.pie__link{
    font-size: $textoSm;
    color: $colorTerciario;
}

.pie__link:hover{
    color: #fff;
}

.pie__titulo{
    font-weight: $textoBold;
    color: $colorTerciario;
}