#nav{
    background-color: $colorPrincipal; 
    .nav__logo{
        height: 8vh;
        h3{
            font-weight: bold;
            color: $colorTerciario;
            margin: 0;
        }
        img{
            height: inherit;
            padding: 1vh;
        }
    }

    .nav__link{
        font-weight: $textoBold;
        font-size: $textoMd;
        color: $colorTerciario;
        align-items: center;
    
        // Animacion subrrayado
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    
        &:hover{
            color: #fff;
    
            // Animacion subrrayado 
            background-size: 100% 2px;
        }
    }
    
    .nav__dropdown{
        color: $colorTerciario;
        font-size: $textoMd;
        &:hover{
            background-color: $colorPrincipal;
        }
    }
}
