//requisitos
.lista--tick{
    list-style: disc inside url('../img/vinietas/tick.png');
    li{
        text-align: start;
        font-size: $textoSm;
    }
}

//animales en adopcion
.filtro{
    @extend .bg--color_terciario;
    @extend .flex--justify_around;
    @extend .divisor--bottom;
    flex-wrap: wrap;
    grid-area: filtros;
}

.filtro__opciones{
    font-size: $textoSm;
    width: 8rem;
}

.galeria_animales{
    @extend .flex--justify_around;
    grid-area: galeria_animales;
}

.galeria_animales__animal{
    @extend .transformacion--escalar;
    @extend .bg--color_neutro;
    @extend .flex--align_center--col;
    @extend .sombra--dark;
    width: 18rem;
    border-radius: 10px;
    transition: scale 1s;
}

.galeria_animales__detalles{
    @extend .flex--justify_between;
    width: 15rem;
}

.galeria_animales__img{
    @extend .img--lg;
    border-radius: 10px;
}

.galeria_animales__boton_paginas{
    @extend .flex--justify_center;
    ul li a{
        border: 1px solid $colorPrincipal;
    }
    ul li a{
        background-color: $colorTerciario;
        color: #000;
    }
    ul li:hover a{
        background-color: $colorPrincipal;
        color: #fff;
    }
}

.indice_caracteristicas{
    @extend .bg--color_terciario;
    @extend .flex--center;
    grid-area: indice_caracteristicas;
    border-top: 2px solid $colorPrincipal;

    @media screen and (min-width: 900px){
        border-left: 2px solid $colorPrincipal;
        border-top: 0;
    }
}

.animales_en_adopcion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "filtros"
    "galeria_animales"
    "indice_caracteristicas";

    @media screen and (min-width: 900px){
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "filtros indice_caracteristicas"
        "galeria_animales indice_caracteristicas"
        "galeria_animales indice_caracteristicas";
    }
}