//envianos un mensaje
.formulario__input{
    @extend .texto--sm;
    border-radius:0.5rem;
    border: 1px solid $colorPrincipal;
    width: 90%;

    &:focus{
        @extend .bg--color_neutro;
    }

    @media screen and (min-width: 400px){
        width: 22rem;
    }
}
